{% extends "Head.html" %}
{% block content %}

      <!--About Us--> 
      <div class="sectiont">
         <div class="cont1">
            <div class="row">
               <div class="content-section">
                  <div class="titlea">
                     <h1>About This <b>Mock-Up</b> E-commerce Website Developer and Designer</h1>
                  </div>
                  <div class="content2">
                     <h4>Myself Abhinandhan S, The Designer and Developer Of the <b>Mock-Up</b>
                        <br>E-commerce Website...If U like This Website...It's UI and Design..Feel Free to Make a Collab With...I'm Always Open For Collabrations.<br>This Website 
                     was Built With the Help Of Open Resources From Websites Like <a href="https://www.freepik.com">Freepik.com</a>,<a href="https://www.flaticon.com">Flaticon.com</a>,<a href="https://undraw.co">Undraw.co</a> </h4>
                     <h5>Feel Free To Connect With Me</h5>
                     <div class="social">
                        <a href="https://github.com/STRIZERORTIX" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/Strizer_Ortix" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/strizer_ortix/" target="_blank"><i class="fab fa-instagram"></i></a>
                     </div>
                  </div>
               </div>
               <div class="image-section">
                  <img src="../static./images/main page/user.jpg">
               </div>
            </div>
         </div>
      </div>
{% endblock %}