{% extends "Head.html" %}
{% block content %}
     
     <div class="Faq">
      <h3>GOT A <span>QUESTION</span>? FEEL FREE TO LOOK INTO OUR FAQ'S</h3>
        <div class="row-1">
           <div class="ques">
              <h4>What can I return?</h4>
              <p>Items are returnable if you've received them in<br> a condition that is physically damaged,<br>has missing parts,non receipt of accessories as mentioned in the catalogue,<br>defective or different from its description<br>on the product detail page on <b>THE TECH SHOP</b></p>
           </div>
           <div class="ques">
              <h4>How can I return?</h4>
              <p>We have a Clear System for returns subject to following conditions... details of purchase no. <br> our internal system will check the authencity and send you an email with authentication code.<br> our delivery person will come for pickup. <br> share the code received on email to them. <br> <b>THE TECH SHOP</b></p>
           </div>
           <div class="ques">
              <h4>What are the return guidelines?</h4>
              <p>Following are the return guidelines:</p>
              <ol>
                 <li>Your address and the item that you wish to return must be eligible for return.</li>
                 <li>If the return is not eligible for Pickup, a Self-Return option will be given.</li>
                 <li>Once The Product is Recieved U'll Get the refund *If Eligible in 5-10 Working days</li>
              </ol>
            </div>
            <div class="ques">
              <h4>Where can I view status of return?</h4>
              <p>We'll Keep You Updated Once in 2 days, <br> You Can Check Your Return Progress Only Through Mail, <br> Since We Thought Of Keeping it in the Vintage Ways and also Our Server is in it's maintanence</p>
           </div>
        </div>
        <h5>Didn't get What You are Looking For? Feel Free To <a href="contact us.html">Reach Us</a> And Get Your Query Clarified</h5>
     </div>

{% endblock %}


      