{% extends "Head.html" %}
{% block content %}
      
      <div class="header">
         <div class="container ">
            <div class="row">
               <div class="column1 Glass">
                  <h1>GIVE YOUR WORK THE TECHNOLOGY IT NEEDS WITH OUR PRODUCTS</h1>
                  <p>Make this Exclussive Offer yours, Click the button to explore the All new i7 laptops</p>
                  <a href="#prj" class="button">Explore &#x27A8;</a>
               </div>
               <div class="column1 lot">
                  <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_bzgbs6lx.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; padding-left:1rem "  loop  autoplay></lottie-player>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--featured categories-->
      <div class="small-container">
         <h2 class="title">Featured Categories</h2>
         <div class="categories">
            <div class="row">
               <div class="col-3">
                  <img src="../static/images/main page/laptops.jpg" width="75%">
               </div>
               <div class="col-3">
                  <img src="../static/images/main page/smartwatches.jpg" width="80%">
               </div>
               <div class="col-3">
                  <img src="../static/images/main page/headphones.png" width="50%">
               </div>
            </div>
         </div>
      </div>
      <!--featured products-->
      <div class="small-container">
         <h2 class="title" id="prj">Featured Products</h2>
         <div class="row">
            <div class="owl-carousel owl-theme">
               <div class=" item">
                  <a href="pr1.html">
                     <img src="../static/images/main page/tufgaming1.jpg" style="display: block; margin-left: auto;margin-right: auto;width: 50%;">
                     <h4>ASUS TUF GAMING F15 FX506LI-HN222TS I7 i7-10870H/GTX1650Ti-4GB/ 8G/ 1T HDD+512G SSD/ 15.6 FHD-144hz/RGB Backlit/ WIFI6/ 48Wh/ WIN10/ Bonfire Black/Office Home & Student 2019</h4>
                     <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                     </div>
                     <p>₹ 89,249.00</p>
                  </a>
               </div>
               <div class=" item">
                  <a href="pr7.html">
                     <img src="../static/images/main page/asus1.png" style="display: block; margin-left: auto;margin-right: auto;width: 50%;">
                     <div style="padding-top: 10px">
                        <h4>Asus ROG Strix G15 (2020) Core i7 10th Gen - (16 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650 Ti/144 Hz) G512LI-HN057T Gaming Laptop (15.6 inch, Black Plastic, 2.30 kg)</h4>
                        <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star-half"></i>
                        </div>
                     </div>
                     <p>₹ 88,990.00</p>
                  </a>
               </div>
               <div class=" item">
                  <div style="padding-bottom: 10px">
                     <a href="pr6.html">
                        <img src="../static/images/main page/alienware1.png" style="display: block; margin-left: auto;margin-right: auto;width: 50%;">
                        <h4>DELL Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen i7-10750H / 16 GB / 1TB SSD / Nvidia RTX 2060 6GB / Win 10 + MS Office / Lunar Light) D569917WIN9</h4>
                        <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                        </div>
                        <p>₹ 2,19,990.00</p>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Offer-->
      <div class="offer">
         <div class="small-container">
            <div class="row">
               <div class="column4">
                  <img src="../static/images/main page/exclusive.png" class="offer-img">
               </div>
               <div class="column4">
                  <p>Exclusively available on the Tech Shop</p>
                  <h1>Smart Band</h1>
                  <small>The Mi Smart Band for 4 Features a 39.9% Larger(than the earlier band 3) AMOLED color full-touch display with adjustable brightness, so everything is clear as can be.</small><br>
                  <a href="pr11.html" class="button">Buy Now &#8594;</a>
               </div>
            </div>
         </div>
      </div>
      <!--testimonial-->
      <div class="testimonial">
         <div class="small-container">
            <div class="row ">
               <div class="col-3">
                  <i class="fa fa-quote-left"></i>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id semper risus. Magna fringilla urna porttitor rhoncus dolor purus non.</p>
                  <div class="rating">
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star-half"></i>
                  </div>
                  <img src="../static/images/testimonials/user-1.png">
                  <h3>Maria Parker</h3>
               </div>
               <div class="col-3">
                  <i class="fa fa-quote-left"></i>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id semper risus. Magna fringilla urna porttitor rhoncus dolor purus non.</p>
                  <div class="rating">
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                  </div>
                  <img src="../static/images/testimonials/user-2.png">
                  <h3>paul </h3>
               </div>
               <div class="col-3">
                  <i class="fa fa-quote-left"></i>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id semper risus. Magna fringilla urna porttitor rhoncus dolor purus non.</p>
                  <div class="rating">
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                  </div>
                  <img src="../static/images/testimonials/user-3.png">
                  <h3>abel joe</h3>
               </div>
            </div>
         </div>
      </div>
{% endblock %}


