{% extends "Head.html" %}
{% block content %}
      <!--Offer 1-->
      <div class="offer1">
         <div class="small-container">
            <div class="row">
               <div class="column4">
                  <img src="..\images\main page\exclusive.png" class="offer-img">
               </div>
               <div class="column4">
                  <p>Exclusively available on the Tech Shop</p>
                  <h1 style="font-family: 'MuseoModerno', cursive;">Smart Band</h1>
                  <small>The Mi Smart Band for 4 Features a 39.9% Larger(than the earlier band 3) AMOLED color full-touch display with adjustable brightness, so everything is clear as can be. 25% offer....awail soon...</small><br>
                  <a href="pr11.html" class="button" style="font-family: 'MuseoModerno', cursive";>Buy Now &#8594;</a>
               </div>
            </div>
         </div>
      </div>
      <!--Offer 2-->
      <div class="offer">
         <div class="small-container">
            <div class="row">
               <div class="column4">
                  <p>Exclusively available on the Tech Shop</p>
                  <h1 style="font-family: 'MuseoModerno', cursive;">Legion 5pi</h1>
                  <small> 10% offer....awail soon...</small><br>
                  <a href="pr8.html" class="button" style="font-family: 'MuseoModerno', cursive";>Buy Now &#8594;</a>
               </div>
               <div class="column4">
                  <img src="..\images\main page\exclusive1.png" class="offer-img">
               </div>
            </div>
         </div>
      </div>
      <!--Offer 3-->
      <div class="offer">
         <div class="small-container">
            <div class="row">
               <div class="column4">
                  <img src="..\images\main page\exclusive2.png" class="offer-img">
               </div>
               <div class="column4">
                  <p>Exclusively available on the Tech Shop</p>
                  <h1 style="font-family: 'MuseoModerno', cursive;">boAt Stone</h1>
                  <small>30% offer....awail soon...</small><br>
                  <a href="pr4.html" class="button" style="font-family: 'MuseoModerno', cursive";>Buy Now &#8594;</a>
               </div>
            </div>
         </div>
      </div>
{% endblock %}